body {
    font-family: 'Segoe UI', Calibri, 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 250px;
}

h1 {
    font-size: 20px;
    margin: 0;
}

.byline {
    font-size: 14px;
    color: #aaa;
    margin-top: 4px;
    margin-bottom: 15px;
    font-style: italic;
}

/* Default style for file input */
input[type="file"] {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    display: none; /* Hide default input */
}

/* Drag-and-drop area styling */
.file-drop-area {
    border: 2px dashed #5a5a5a;
    padding: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.file-drop-area:hover {
    background-color: #444;
}

#fileDetails {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

#filePreview {
    margin-top: 10px;
    width: 100%;
    max-height: 100px;  /* Reduced max height */
    object-fit: contain; /* Ensures the image is scaled without distortion */
    display: none; /* Hide initially */
    border-radius: 8px;
}

/* File name display styling */
#fileName {
    font-size: 14px; /* Adjust font size to match other text */
}

/* Highlighted file name when chosen */
#fileNameDisplay {
    font-size: 14px; /* Match the font size to the 'Click to drag...' text */
    font-weight: normal;
    color: #00bfff; /* Vibrant blue */
    text-align: center;
    margin-top: 10px; /* Ensure this text is below the image preview */
}

/* Format selection and button styling */
select {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #414141;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #414141;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #5a5a5a;
}

select:hover {
    background-color: #5a5a5a;
}

/* Loading bar styling */
#loadingBar {
    width: 100%;
    height: 5px;
    background-color: #333;
    margin-top: 10px;
}

#loadingProgress {
    width: 0%;
    height: 100%;
    background-color: #007bff; /* Loading progress color */
    transition: width 0.3s ease;
}
